.mainHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.mainNav {
  display: flex;
  justify-content: space-between;
}

.mainDivLogin {
  display: flex;
  justify-content: center;
}

.mainDivSearch {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.albumCards {
  border: black solid 2px;
  display: flex;
  flex-wrap: wrap;
  max-width: fit-content;
  padding: 15px;
}

.albumCard {
  border: black solid 2px;
  display: flex;
  height: 150px;
  justify-content: baseline;
  margin: 15px;
  max-width: 400px;
}

.mainDivHeader {
  display: flex;
}

.formLogin {
  border: black solid 2px;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
}

.inputLogin {
  margin-left: 5px;
}

.trybeTunesTitle {
  background-color: bisque;
  border: black solid 2px;
  border-radius: 15px;
  padding: 15px;
}

.userNameInHeader {
  background-color: bisque;
  border: black solid 2px;
  border-radius: 15px;
  padding: 15px;
}

.navSearch {
  background-color: bisque;
  border: black solid 2px;
  border-radius: 15px;
  padding: 15px;
}

.navProfile {
  background-color: bisque;
  border: black solid 2px;
  border-radius: 15px;
  padding: 15px;
}

.navFavorites {
  background-color: bisque;
  border: black solid 2px;
  border-radius: 15px;
  padding: 15px;
}

.loginBtn {
  margin-left: 5px;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}

.navProfileEdit {
  margin: 50px;
}
